@page
@model RemindMeal.Pages.Friends.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Friend.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Friend.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Friend.Surname)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Friend.Surname)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-4">
            Cet invité a déjà goûté à:
        </dt>
        <dt class="col-sm-8">
            <ul>
            @foreach (var (recipe, count) in Model.Recipes) {
                <li>@recipe.Name (@count fois)</li>
            }
            </ul>
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Friend.Id" class="btn btn-warning">Modifier</a>
    <a asp-page="./Index" class="btn btn-primary">Retour à la liste</a>
</div>
