@page
@model RemindMeal.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Recipe.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
    </dl>
</div>
<div>
    <hr />
    La recette "@Model.Recipe.Name" a déjà été goûté (et appréciée !) par :

    <ul>
    @foreach (var (friend, count) in Model.Friends) {
        <li><a asp-page="../Friends/Details" asp-route-id="@friend.Id">@friend</a> (@count fois)</li>
    }
    </ul>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-warning">Modifier</a>
    <a asp-page="./Index" class="btn btn-primary">Retour à la liste</a>
</div>
