@page
@model RemindMeal.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression de recette</h1>

<h3>Êtes-vous sûr(e) de vouloir supprimer cette recette ?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.CreationDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste</a>
    </form>
</div>
