@page
@model RemindMeal.Pages.Friends.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h4>@Model.Friend.Name @Model.Friend.Surname</h4>

<div>
    <hr />
    @Model.Friend.Name a déjà goûté à :

    <ul>
    @foreach (var (recipe, count) in Model.Recipes) {
        <li><a asp-page="../Recipes/Details" asp-route-id="@recipe.Id">@recipe.Name</a> (@count fois)</li>
    }
    </ul>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Friend.Id" class="btn btn-warning">Modifier</a>
    <a asp-page="./Index" class="btn btn-primary">Retour à la liste</a>
</div>
