@page
@model RemindMeal.Pages.Friends.IndexModel

@{
    ViewData["Title"] = "Invités";
}

<h1>Liste de vos invités</h1>

<div class="card-group">
    @foreach (var item in Model.Friends)
    {
        <div class="col-lg-4">
            <div class="card">
                <a asp-page="./Details" asp-route-id="@item.Id" class="card-header">
                    @item.FullName
                </a>
                <div class="card-body">
                    <div class="card-text">
                        A participé à @item.Meals.Count repas et goûté à @item.RecipesCount recettes
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn btn-group">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Modifier</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
