@page
@using RemindMeal.Structures
@model RemindMeal.Pages.Meals.IndexModel

@{
    ViewData["Title"] = "Repas";
}

<h1>Vos repas</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Enregistrer un nouveau repas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-dateSortOrder="@Model.DateSortLink">
                    @Html.DisplayNameFor(model => model.Meals[0].Date)
                </a>
                @if (Model.DateSort == SortOrder.Ascending)
                {
                    <i class="fa fa-angle-down"></i>    
                }
                else
                {
                    <i class="fa fa-angle-up"></i>
                }
            </th>
            <th>Invités</th>
            <th>Menu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @string.Join(",", item.Presences.Count)
            </td>
            <td>
                @string.Join(",", item.Cookings.Select(c => c.Recipe.Name))
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Détails</a>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">Modifier</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
